/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
    width: 1128px;
    height: 648px;
    margin: 0 auto;
}    

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 24px;
    justify-content: center;
}

.gallery-item {
  width: 360px;
  height: 200px;
}


.gallery-image {
  width: 100%;
  height: 100%;
  display: block;
}

.gallery-image:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32"><circle cx="16" cy="16" r="8" fill="blue"/></svg>'), pointer;
  transform: scale(1.05); /* трохи збільшуємо картинку */
}

.feedback-form {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px auto;
}

textarea {
  width: 360px;
  height: 80px;
}

input {
  width: 360px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
}


.feedback-form {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-size: 14px;
  font-weight: 500;
}


.feedback-form input,
.feedback-form textarea {
  padding: 8px 12px;
  font-size: 14px;

  border: 1px solid #808080;
  border-radius: 4px;

  resize: vertical;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 1px solid #000;
  outline: none;
}
.feedback-form textarea:active {
  border: 1px solid #808080;
}

.feedback-form button {
  align-self: flex-start;
  width: 95px;
  height: 40px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 8px;
  background-color: #4e75ff;;
  color: #fff;

  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
